.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #5a0611;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.2s ease;

  &:hover,
  &:active {
    background-color: #49040c;
  }

  .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
    margin-right: 2rem;
  }

  .badge {
    background-color: #7a2a35#7a2a35;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }
}

@media (max-width: 580px) {
  .button {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 400px) {
  .button {
    padding: 0.5rem 0.5rem;

    .button-text {
      font-size: 0.8rem;
    }
  }
}
