.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;

  .cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
    padding-top: 12px;
    border-top: 2px solid #8a0618;
  }

  .actions {
    text-align: right;
    display: flex;
    justify-content: flex-end;

    button {
      font: inherit;
      cursor: pointer;
      background-color: transparent;
      border: 2px solid #8a0618;
      padding: 0.5rem 2rem;
      border-radius: 25px;
      margin-left: 1rem;

      &:hover,
      &:active {
        background-color: #49040c;
        border-color: #49040c;
        color: white;
      }
    }

    .button--alt {
      color: #8a0618;
    }

    .button {
      background-color: #8a0618;
      color: white;
    }
  }

  .modal-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;

    .modal-left {
      .modal-price {
        display: flex;
        padding: 7px 15px 7px 0;
        align-items: center;

        h4 {
          color: #8a0618;
        }

        .modal-amount {
          margin-left: 20px;
          padding: 1.5px 8px;
          border: 2px solid #f4f4f4;
          border-radius: 5px;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        }
      }
    }

    .modal-right {
      button {
        color: #8a0618;
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #8a0618;
        padding: 3px 17px;
        border-radius: 10px;
        margin-left: 1rem;
        transition: 0.1s ease;

        &:hover,
        &:active {
          background-color: #49040c;
          border-color: #49040c;
          color: white;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
